<div class="container">
    <div class="jumbotron">
        <p id="signed-in-as" class="text-right"> Signed in as {{userName}}</p>
        <p id="logout-button" class="text-right"><a href="/logout">Logout</a></p>
        <h1 class="text-center">Game ON!</h1>
        <h3 class="text-center">Create a Game</h3>
    </div>
</div>

{{!-- THIS IS THE PANEL FOR PICKING WHAT YOU WANT TO DO --}}
<div class="container" class="collapse">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><strong>What would you like to do?</strong></h3>
                    <br>
                    <button data-toggle="collapse" data-target="#demo2" type="submit" class="btn btn-lg btn-primary" id="search-btn"> Create a game</button>
                    {{!-- <h3 class="panel-title text-center"><strong>Click the join button below to join a game</strong></h3>
                    <br> --}}
                    <button id="joinjoin" data-toggle="collapse" data-target="#demo3" type="submit" class="btn btn-lg btn-primary btn pull-right" id="search-btn">View Games</button>
                </div>
            </div>
        </div>            
    </div>
{{!-- THIS IS THE FORM FOR CREATING A GAME --}}
    <div id="demo2" class="collapse">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Start a Game</strong></h3>
                    </div>
                    <div class="panel-body">
                        <form  id="game-form" role="form">
                            <div class="form-group">
                                <label for="">Game Name</label>
                                    <input type="text" class="form-control" id="game-name" placeholder="" required minlength="1" maxlength="80">
                            </div>
                            <div class="form-group">
                                <label for="">Sport Type</label>
                                    <input type="text" class="form-control" id="event-sport" placeholder="" required minlength="1" maxlength="80">
                            </div>
                            <div class="form-group">
                                <label for="">Game Date</label>
                                <input type="date" class="form-control" id="game-date" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="">Game Start Time</label>
                                <input type="time" class="form-control" id="game-time" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="">Game Location</label>
                                <input type="text" class="form-control" id="street" placeholder="Street" required minlength="1" maxlength="80">
                                <input type="text" class="form-control" id="city" placeholder="City" required minlength="1" maxlength="45">
                                {{!<input type="text" class="form-control" id="state" placeholder="ST">!}}
                                <select id="inputState" class="form-control" required>
                                    <option selected disabled="disabled" value="">Choose...</option>             
                                    {{#each inputState}}
                                        <option>{{this}}</option>
                                    {{/each}}
                         
                                </select>
                                <input type="number" class="form-control" id="zipcode" placeholder="Zip Code" required pattern="[0-9]{5}" title="Five digit zip code">
                            </div>
                            <div class="form-group">
                                <label for="">Minimum Age</label>
                                <input type="date" class="form-control" id="min-birthdate" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="">Minimum Number of Players</label>
                                <input type="number" class="form-control" id="min-players" placeholder="" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="">Maximum Number of Players</label>
                                <input type="number" class="form-control" id="max-players" placeholder="" min="2" required>
                            </div>
                            <div class="form-group">
                                <label for="">Game Fee</label>
                                <input type="number" class="form-control" id="game-fee" placeholder="" min="0.00" max="10000.00" step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="">Is Equipment Required?</label>
                                {{!<input type="text" class="form-control" id="equipment" placeholder="">!}}
                                <select class="form-control" id="equipment" required>
                                    <option selected disabled="disabled" value="">Choose...</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Skill Level</label>
                                <select class="form-control" id="skill-level" required>
                                    <option selected disabled="disabled" value="">Choose...</option>
                                    <option>Novice</option>
                                    <option>Intermediate</option>
                                    <option>Expert</option>
                                    <option>None Specified</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Gender Requirement</label>
                                <select class="form-control" id="gender" required>
                                    <option selected disabled="disabled" value="">Choose...</option>
                                    <option>Men</option>
                                    <option>Women</option>
                                    {{!-- <option>Gender Agnostic</option> --}}
                                    <option>Coed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Does the game support disabilities</label>
                                <select class="form-control" id="disability" required>
                                    <option selected disabled="disabled" value="">Choose...</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="glyphicon glyphicon-fire"></span> Create Game</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
{{!-- THIS IS THE PANEL FOR GAMES YOU HAVE JOINED --}}
    <div id="demo3" class="collapse">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>GAME LISTING</h3></div>
                        <div class="panel-body">
                            <table class="table table-condensed" style="border-collapse:collapse;">
                                <thead>
                                    <tr>
                                        <th id="event-head">Name</th>
                                        <th id="event-description">Type</th>
                                        <th id="event-admin">Date</th>
                                        <th id="event-location">City</th>
                                        <th id="event-status">Game ON!</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.gameData}}
                                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                        <td id="event-head-joined">{{this.event_name}}</td>
                                        <td id="event-description-joined">{{this.sport_type}}</td>
                                        <td id="event-admin-joined">{{this.event_date}}</td>
                                        <td id="event-location-joined">{{this.city}}</td>
                                        {{!-- Do we need this? --}}
                                        <td id="event-status-joined">{{this.game_on_boolean}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo1">
                                            <div id="game-details-joined">
                                                <h5 id="game-time-joined">Start time: {{this.event_time}}</h5>
                                                <h5 id="game-street-joined">Street: {{this.street}}</h5>
                                                <h5 id="game-city-joined">City: {{this.city}} {{this.state}} {{this.zipcode}}</h5>
                                                <h5 id="game-age-joined">Age requirement: {{this.min_birthdate}}</h5>
                                                <h5 id="game-fee-joined">Game fee: ${{this.game_fee}}</h5>
                                                <h5 id="equipment-joined">Equipment needed: {{this.equipment_binary}}</h5>
                                                <h5 id="skill-level-joined">Skill level: {{this.skill_level_id}}</h5>
                                                <h5 id="gender-joined">Gender: {{this.gender_id}}</h5>
                                                <h5 id="disability-joined">Disability: {{this.disability_binary}}</h5>
                                                <h5 id="join-joined">
                                                    <a href="#" class="btn btn-default btn-sm">Join</a>
                                                </h5>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
    <p class="text-center"><a id="removeUser" email="{{userEmail}}" clicked="false">Delete your account</a></p>
</div>
